.history-transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  background-color: white;
  margin-bottom: 8px;
}

.history-transaction-item .pending {
  color: orange;
}

.history-transaction-item .complete {
  color: green
}

.history-transaction-item p {
  margin-bottom: 8px;
}

.history-transaction-item div p:last-child {
  margin-bottom: 0px;
}

.history-transaction-item > p {
  font-size: 16px;
}