.root-container {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 110px 180px 1fr;
  grid-template-areas: 
    "header header"
    "image image"
    "nav main";
}

header {
  width: 100%;
  grid-area: header;
}

.image-background {
  grid-area: image;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

