.upcoming-row-container {
  display: flex;
  background-color: lightgray;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.upcoming-row-container > div {
  display: flex;
  flex-direction: column;
}

.upcoming-row-container p:first-child {
  margin-bottom: 8px;
}

.upcoming-row-container p {
  margin-bottom: 0px;
}

.upcoming-row-container > div:last-child {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.upcoming-row-container > div:last-child p {
  margin-bottom: 0px;
}