.friend-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.friend-summary-container p {
  margin-bottom: 8px;
}

.friend-summary-container div p:last-child {
  margin-bottom: 0px;
}

.friend-summary-container > p {
  font-size: 22px;
}
