.line1 {
  background-color: var(--color-primary);
  height: 2.5em;
}

.line1 div {
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.date {
  color: white;
}

.wrapper {
  max-width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.username-div {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 5px;
}

.header-flex {
  display: flex;
}

.blue {
  color: var(--color-primary);
}