#accountSummaryMainContainer {
  margin: 3% 15%;
}

h3#bankAccountsHeading {
  display: inline;
  font-size: larger;
}

.totalContainerAccSum {
  float: inline-end;
}
.cadUpperScript {
  font-size: small;
}

.accountTypeContainerAccSum {
  padding: 1% 3%;
}

.accountBalanceValAccSum {
  float: inline-end;
}

.h3Underline {
  background-color: black;
}

#bankAccountsContainer {
  margin-bottom: 50px;
}

h3#cardsHeading {
  display: inline;
}
