@import "../../../../colors.css";

.line1 {
  background-color: var(--color-primary);
  height: 2em;
}

.line1 div {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.line2 div {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.line2 {
  background-color: var(--color-tertiary);
  height: 2em;
}

.line2 div span {
  margin-right: 30px;
  margin-top: 5px;
}

.date {
  color: white;
  margin-top: 5px;
}

.active,
.nav:hover {
  border-bottom: 2px solid var(--color-primary);
  cursor: pointer;
  font-weight: 600;
}
