.requested-split-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: lightgray;
  margin-bottom: 16px;
}

.requested-split-row p {
  margin-bottom: 8px;
}

.requested-split-row div p:last-child {
  margin-bottom: 0px;
}

.requested-split-row > button {
  font-size: 14px;
}